.black-screen{
    display: none;
}

nav{
    background: linear-gradient(to left, #3c4352, #353b48);
    width: 15vw;
    height: 92vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    z-index: 999;
}

.side-nav{
    padding-top: 40px;
    text-align: center;
}

.container{
    padding: 20px;
    border: 1px solid #353b48;
    background: #353b48;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 0px 1px #000;
    cursor: pointer;
    color: #9093a1; /*list headig*/
    user-select: none;

}

.sub-container>ul>li>a{
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: #ddd;
    border-bottom: 0.1px solid #353b48;
    color: #7e8191; /* list color*/
    cursor: pointer;
    width: 100%;
    transition: all 0.2s;
}

.sub-container>ul>li>a:hover{
    background: #434b5c;
    color: #878a99;
    transform: translateX(2%);
}

/* .sub-container.hide-list{
    display: none;
} */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #9093a1; 
    border-radius: 50%;
}

.active{
    background: #434b5c;
    color: #878a99;
}

/****************Media queries*********************/

@media only screen and (max-width: 1200px) {
    nav{
        width: 20vw;
        height: 91vh;
    }
}


@media only screen and (max-width: 992px) {

    nav{
        width: 22vw;
    }

}

@media only screen and (max-width: 768px) {
    nav{
        position: absolute;
        width: 0vw;
        transition: 0.2s;
    }

    .black-screen.blk{
        display: block;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 91vh;
        position: absolute;
        z-index: 999;
    }

    nav.sider{
        width: 40vw;
    }

    /**************** Menu Bar *********************/


    .menu1,
    .menu2,
    .menu3{
        height: 2px;
        width: 35px;
        background: #9093a1;
        margin: 4px;
        transition: 0.2s;
        border-radius: 4px;
        transition: 0.2s;
    }

    .menu-bar{
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px 15px 0 0;
        display: block;
    }

    .menu1.menu-cross1{
        transform: translateY(100%) rotate(45deg);
        height: 3px;
        width: 25px;
    }
    .menu3.menu-cross2{
        transform: translateY(-100%) rotate(-45deg);
        height: 3px;
        width: 25px;
    }
    .menu2.menu-cross3{
        display: none;
    }



}


@media only screen and (max-width: 576px) {

    nav.sider{
        width: 65vw;
    }

    .side-nav{
        padding-top: 20px;
    }

}